<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutercategorie.php">
<table>
<caption>Ajouter categorie</caption>
<tr>
<td>LIB_categorie : </td>
<td><input type="text" name="lib_c"></td>
</tr>
<tr>
<td>Description : </td>
<td><textarea  rows="10" name="des" cols="40"></textarea> </td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
<tr>
<td></td>
<td><a href="afficherCategories.php"> afficher les categories</a></td>
</tr>
</table>
</form>
</body>
</HTMl>